<form method="post" action="/courses/handle-form-action-trash" name="container-form"  class="mt-4">
    <h2>Khóa học đã xóa</h2>
    <a href="/me/stored/courses">Quay lại danh sách</a>
    <div class="d-flex p-2 bd-highligh ">   
        <div class="form-check w-25 p-3">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Chọn tất cả
            </label>
        </div>
        <select class="form-select w-50 p-3" aria-label=".form-select-sm example" name="action" required>
            <option value="" selected>-- Chọn hành động --</option>
            <option value="restore">Khôi phục</option>
            <option value="delete">Xóa vĩnh viễn</option>
        </select>
        <button class="btn btn-primary btn-sm w-25 p-3 disabled" id="btn-check">Thực hiện</button>
    </div>
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>STT</th>
                <th>Tên khóa học</th>
                <th>Mô tả</th>
                <th>Ngày xóa</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td><input class="form-check-input" type="checkbox" name="courseIds[]" id="check" value="{{this._id}}"></td>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-whatever="{{this.name}}" data-id="{{this._id}}" data-bs-target="#exampleModal">Xóa vĩnh viễn</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Thùng rác trống.
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn xóa vĩnh viễn khóa học <span id="name-course"></span> không  ?
      </div>
      <div class="modal-footer">
        <a type="button" id="btn-delete" class="btn btn-danger">Xóa vĩnh viễn</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<div id="test"></div>

{{!-- Delete form --}}
{{!-- <form method="POST" action="/courses/{{course._id}}?_method=DELETE"></form> --}}

<script> 
    document.addEventListener('DOMContentLoaded', function() {   
        var exampleModal = document.getElementById('exampleModal')
        const nameCourse = document.getElementById('name-course');
        let courseId = ''; 
        const btnRestore = $('.btn-restore');
        const checkboxAll = $('#checkbox-all');
        const checkboxItem = $('input[name="courseIds[]"]');
        const checkboxBtn = $('#btn-check');
        var containerForm = document.forms['container-form'];

        // bắt id từ table
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            courseId = button.getAttribute('data-id');
            var name = button.getAttribute('data-bs-whatever');
            
            nameCourse.textContent = name;
        });
        // dùng ajax gửi id về CourseController
        const btnDelete = document.getElementById('btn-delete');
        btnDelete.onclick = () => {
             $.ajax({
                url: `/courses/${courseId}/force`,
                type: "DELETE"
            }).then((res) => {
                if(res == 'ok') {
                    window.location.reload();
                    alert('Xóa vĩnh viễn khóa học thành công');
                }
                else {
                     alert('Xóa vĩnh viễn khóa học thất bại');
                }
            });
        };   
       
        //restore khóa học
        btnRestore.click(function (e) {
            e.preventDefault();
            const restoreId = $(this).data('id');
            $.ajax({
                url: `/courses/${restoreId}/restore`,
                type: "PATCH"
            }).then((res) => {
                if(res == 'ok') {
                    window.location.reload();
                    alert('Khôi phục khóa học thành công');
                }
                else {
                     alert('Xóa khóa học thất bại');
                }
            });
        });
        
            // checked khóa học sự kiện
        checkboxAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            checkboxItem.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });
         
        checkboxItem.change(function() {
            var isCheckedTotal = checkboxItem.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedTotal);
            renderCheckAllSubmitBtn();
        });   
        
        // Button sự kiện checkbox
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if(checkedCount > 0) {
                checkboxBtn.removeClass('disabled');
            } else {
                checkboxBtn.addClass('disabled');
            }
        };
        
        // Action button 
        checkboxBtn.on('submit',  function(e) {
            var isSubmitTable = !$(this).hasClass('disabled');
            if(!isSubmitTable) {
                e.preventDefault();
            }
        }); 
    });
</script>